@using Scarpe.WebApp.Entities
@model IEnumerable<Article>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Le nostre Scarpe</h1>
    <p>Benvenuto su Scarpe & Co</p>
</div>

@if (Model.Any())
{
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="@Url.Content("~/" + product.CoverPath)" class="card-img-top" alt="@product.Title">
                    <div class="card-body">
                        <h5 class="card-title">@product.Title</h5>
                        <p class="card-text">@product.Price.ToString("C")</p>
                        <a href="@Url.Action("Read", new { id = product.Id })" class="btn btn-primary">Leggi</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="row">
        <div class="col text-center alert alert-warning">Non ci sono ancora articoli.</div>
    </div>
}