@model Scarpe.WebApp.Entities.Article

@{
    ViewData["Title"] = "Informazioni Extra";
}

<h1>@Model.Title</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublishedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublishedAt)
        </dd>
        @if (ViewBag.Cover != null)
        {
            <dt class="col-sm-2">
                Cover
            </dt>
            <dd class="col-sm-10">
                <img src="@ViewBag.Cover" alt="Cover Image" class="img-fluid" />
            </dd>
        }
        @if (ViewBag.Img1 != null)
        {
            <dt class="col-sm-2">
                Image 1
            </dt>
            <dd class="col-sm-10">
                <img src="@ViewBag.Img1" alt="Image 1" class="img-fluid" />
            </dd>
        }
        @if (ViewBag.Img2 != null)
        {
            <dt class="col-sm-2">
                Image 2
            </dt>
            <dd class="col-sm-10">
                <img src="@ViewBag.Img2" alt="Image 2" class="img-fluid" />
            </dd>
        }
    </dl>
</div>
<div class="mb-3">
    @Html.ActionLink("Commenta", "Comment", "Home", new { id = Model.Id }, new { @class = "btn btn-sm btn-info" }) |
    <a asp-action="Index" asp-controller="Home" class="btn btn-sm btn-secondary">Back to List</a>
</div>
@foreach (Scarpe.WebApp.Entities.Comment comment in ViewBag.Comments)
{
    <div class="my-3">@comment.Content</div>
}